
body { font-family: 'Arial', sans-serif; }
.btn-warning { background-color: #d4af37; border: none; }
.navbar-brand { font-weight: bold; }
.card img { height: 200px; object-fit: cover; }
.img-portada{
    background-image: url("img/portada2.png");
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.ajuste-catalogo{
    padding: 80px 0px 80px 0px;
    margin-top: 40px;
}